.reveal pre {
  font-size: .85em;
  box-shadow: none;
}

.reveal pre code {
  max-height: 80%;
  font-size: .75em;
  line-height: 1;
  background: transparent;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.reveal .main {
  width: 200%;
  height: 500px;
  position: absolute;
  left: -50%;
  top: -20%;
  z-index: -1;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.conf-logo,
.conf-logo-secondary {
  display: block;
  width: 100%;
  height: 10%;
  background: url("../img/fec-logo.svg") no-repeat 50%;
  background-size: contain;
  position: absolute;
}

.conf-logo {
  top: 0;
}

.conf-logo-secondary {
  top: 20%;
}

.hudl-logo {
  display: block;
  width: 300px;
  height: 150px;
  background: url("../img/hudl-logo.png") no-repeat 50%;
  background-size: contain;
  margin: 0 auto;
  transform: translateX(-20px);
}

.mozilla-logo {
  display: block;
  width: 300px;
  height: 150px;
  background: url("../img/mozilla-logo.jpg") no-repeat 50%;
  background-size: cover;
  margin: 0 auto;
  border: 5px solid white;
}

.hero-pic {
  display: block;
  width: 75%;
  height: 400%;
  position: absolute;
  left: 50%;
}

.github-repo {
  background: url("../img/github.png") no-repeat 50%;
  background-size: contain;
}

.privacy {
  background: url("../img/privacy.png") no-repeat 50%;
  background-size: contain;
}

.spec {
  background: url("../img/spec.png") no-repeat 50%;
  background-size: contain;
}

.browser-support {
  background: url("../img/browser-support.png") no-repeat 50%;
  background-size: contain;
  /*transform: translateX(-50%);*/
  left:12%;
}

.emphasize {
  color: #ff6500 !important;
}

.reveal .name-text {
  margin-top: 100px;
  font-size: 1em;
}

.reveal .name-sub {
  opacity: .7;
  font-size: .75em;
}

.final {
  color: white;
  padding-right: 3px;
}
.interim {
  opacity: .55;
}
#results {
  font-size: .75em;
  text-align: left;
  height: 260px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  margin-right: 30%;
  line-height: 1.2;
}

p.thanks {
  font-size: 2em;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.reveal h3.title-main {
  margin-top: -2.5rem;
  font-size: 1.25em;
}
.reveal span.title-main__em {
  font-size: 2.11em;
}

.voice-visualizer path{
  stroke-linecap: square;
  stroke: white;
  stroke-width: 0.5px;
}

.voice-visualizer svg {
  width: 22rem;
  height: 8.5rem;
}
